body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
}

.card_container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  display:flex;
  flex-direction:row;
}
.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card_move {
  display: flex;
  justify-content: space-between;
}

.button_plus {
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
}
.card_wrapper {
  display: inline-block;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  margin-left: 100px;
  padding-top: 30px;
  position:relative;
}

.card_case {
  display: flex;
}

.card_item_front {
  display: inline-block;
  background-image: url(../src/assets/mastercard_front.png);
  box-shadow: 2px 4px 8px rgb(100, 100, 171);
  border-radius: 30px;
  padding: 60px 40px;
  margin: 0 auto;
  max-width: 250px;
  max-height: 100px;
  margin-bottom: 30px;
  margin-right: 50px;
  position: relative;
}
.card_item_front-mod {
  display: inline-block;
  background-image: url(../src/assets/mastercard_front.png);
  box-shadow: 2px 4px 8px rgb(100, 100, 171);
  border-radius: 30px;
  padding: 60px 40px;
  margin: 0 auto;
  width: 250px;
  height: 70px;
  margin-bottom: 30px;

  position: relative;
}

.card_number {
  display: inline-block;
  color: white;
  margin-top: 50px;
  width: 400px;
  font-size: 20px;
}

.user_name{
  color: azure;
}
.card_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_item_back {
  display: inline-block;
  background-image: url(../src/assets/mastercard_back.png);
  box-shadow: 2px 4px 8px rgb(100, 100, 171);
  border-radius: 30px;
  padding: 60px 40px;
  max-width: 550px;
  max-height: 100px;
  margin-bottom: 30px;
}
.card_info-second {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_date {
  margin-top: 100px;
  margin-right: 100px;
  align-items: start;

  color: white;
}

.card_cvc {
  margin-top: 100px;
  color: white;
}

.image {
  position: absolute;
  top: 20%;
  height: 50px;
  width: 60px;
}
.image-clone {
  position: absolute;
  left: 20px;
  top: 20%;
  height: 50px;
  width: 60px;
}

.card_logo {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 10%;
  bottom:10%;
}

.card-form {
  color: blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-name {
  border-radius: 10px;
}

.card-control {
  max-width: 500px;
  background-color: rgb(164, 164, 185);
  border-radius: 10px;
  padding: 8px;
}

.form-button {
  align-items: center;
  background-color: rgb(54, 54, 114);
  width: 350px;
  height: 40px;
  border-radius: 10px;
  color: beige;
}

.links-img {
  display: inline-block;
  height: 15px;
  width: 20px;
}
